<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282121006227-tp9optu4ldf2r5d0ri9spjnskth9hkmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282121006227-tp9optu4ldf2r5d0ri9spjnskth9hkmm</string>
	<key>API_KEY</key>
	<string>AIzaSyAy-9s_BbQ6sba_b1DiSiK3eY5jTIIfYWI</string>
	<key>GCM_SENDER_ID</key>
	<string>282121006227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vikasGdsc</string>
	<key>PROJECT_ID</key>
	<string>gdsc-vikas</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-vikas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282121006227:ios:e8c2bb40b90ea7c6cc3166</string>
</dict>
</plist>